.HeaderCourseMeta {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .HeaderCourseMeta header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 78px;
    color: #fff;
    position: relative; }
    .HeaderCourseMeta header .course-sm-img {
      width: 249px;
      position: absolute;
      top: 1.5em; }
      .HeaderCourseMeta header .course-sm-img img {
        width: 100%;
        border-radius: 4px; }
    .HeaderCourseMeta header h3 {
      width: 40px;
      margin-top: 0px;
      font-size: 1.8rem;
      font-weight: 800;
      margin-bottom: 0.2em; }
    .HeaderCourseMeta header a {
      color: #fff;
      font-weight: 500;
      cursor: pointer; }
      .HeaderCourseMeta header a:hover {
        color: #338FFC; }
      .HeaderCourseMeta header a .HeaderCourseMeta__button {
        margin-left: 4px;
        font-size: 1rem; }
    .HeaderCourseMeta header .HeaderCourseMeta__completed {
      width: 100px;
      height: 100px; }

@media screen and (min-width: 768px) {
  .HeaderCourseMeta {
    height: 280px; }
    .HeaderCourseMeta header {
      padding-top: 150px; }
      .HeaderCourseMeta header h3 {
        width: 745px; }
        .HeaderCourseMeta header .HeaderCourseMeta__completed div {
          padding: 22px 15px 13px 13px; } }
