// ovveriding the root styles for the component
.table-responsive{
    border: 0
}


.Tables{
    .Tables__row{

        border-bottom: 1px solid #DADADA;

        th, td{
            border: 0;
        }

        td:last-child{
            text-align: right;
        }

        th{
            font-size: 12px;
            font-weight: 400;
            color: #636363;
            text-transform: uppercase;
            padding-bottom: 3px;
        }

        td{
            font-size: 16px;
            color: #111;
        }
    }
}

