.FilterableTableCourse button {
	font-weight: 400;
}

.FilterableTableCourse form .Checkbox + label:after {
	top: 4px;
    left: 5px;
}

.FilterableTableCourse > .table-responsive {
  padding: 2%;
}

.FilterableTableCourse .Tables thead tr th {
	text-align: center;
	color: #111111;
}

.FilterableTableCourse .Tables tbody tr td {
	color: #111111;
	text-align: center;
}

.FilterableTableCourse .Tables tbody tr td p {
	margin-bottom: 0px;
	text-align: center;
}

.FilterableTableCourse .Tables tbody tr td strong {
	color: #0d90e0;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
  .FilterableTableCourse > .table-responsive {
    padding: 27px 40px;
  }
}
