.Breadcrumbs{
    padding: 4% 6% 4% 6%;
    border-bottom: 1px solid #DADADA;

    a.active{
        color: #AAAAAA;

        &:hover{
            color: #338FFC;
        }
    }

    span{
        text-transform: capitalize;
    }

    .Breadcrumbs__separator{
        margin: 0 0.2em;
        color: #AAAAAA;
    }
}


@media screen and (min-width: 768px){
    .Breadcrumbs{
        padding: 16px 35px;
        position: fixed;
        top: 72px;
        background: #fff;
        width: 100%;
    }
}
