.Breadcrumbs {
  padding: 4% 6% 4% 6%;
  border-bottom: 1px solid #dadada;
}
.Breadcrumbs a.active {
  color: #aaaaaa;
}
.Breadcrumbs a.active:hover {
  color: #338ffc;
}
.Breadcrumbs span {
  text-transform: capitalize;
}
.Breadcrumbs .Breadcrumbs__separator {
  margin: 0 0.2em;
  color: #aaaaaa;
}

@media screen and (min-width: 768px) {
  .Breadcrumbs {
    padding: 16px 35px;
    position: fixed;
    top: 68px;
    background: #fff;
    width: 100%;
    margin-bottom: 0;
  }
}
