.Profile{
    display: flex;
    align-items: center;
    margin-top: 5px;

    p{
        margin: 0 10px 0 0;
        font-size: 12px;
        font-weight: 400;
        color: rgb(159, 166, 173);
        display: none;
    }
}


@media screen and (min-width: 768px){
    .Notification p{
        display: block;
    }
}
