.DropdownGroups {
  width: 100%;
  margin-bottom: 1.8em; }
  .DropdownGroups .DropdownGroups__button {
    text-shadow: none;
    background: #596065;
    color: #E2E2E2;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    letter-spacing: 0.7px;
    padding: 11px;
    font-family: "karla"; }
