.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-bottom: 1px solid #dadada;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .Navbar {
    padding: 14px 35px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
  }
}
