.ButtonTriggerSidebar {
  color: #2d2d2d;
  font-size: 1.7rem;
  padding: 0;
  background: none;
  border: none;
  transition: color 300ms ease-in; }
  .ButtonTriggerSidebar:hover {
    color: #338FFC; }

@media screen and (min-width: 768px) {
  .ButtonTriggerSidebar {
    visibility: hidden; } }
