.PopoverRow{
    padding: 12px 12px 0px 12px;

    &:last-child{
        padding-bottom: 12px;
    }

    a{
        color: #2d2d2d;
        font-size: 13px;

        &:hover{
            color: #338FFC;
        }
    }
}
