.Sidebar{
    position: fixed;
    top: 0;
    height: 100vh;
    background: none;
    width: 100%;
    margin-left: -208px;
    transition: z-index 500ms, margin-left 150ms ease-in, background 500ms; 
    z-index: -1;

    // for the transition
    &.isOpen{
        background: rgba(53, 53, 53, 0.53); 
        margin-left: 0px;
    }

    .Sidebar__content{
        height: 100%;
        width: 208px;
    }

    .Sidebar__body{
        background: #2F3036;
        height: 100%;
    }

    .Sidebar__body__mainPages{
        border-bottom: 1px solid #424242;
        padding: 10% 7% 7% 7%;
        height: 75%;
    }

    .Sidebar__item{
        margin-bottom: 0.8em;

        a {
            color: #9FA6AD;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 12px;
        }
    }

    .Sidebar__body__otherPages{
        padding: 8%;
    }

}


@media screen and (min-width: 768px){
    .Sidebar{
        width: 257px;
        margin-left: 0px;
        
        .Sidebar__content{
            width: 100%;
        }
    }
}
